

<form class="form-container" [formGroup]="stockForm" (submit)="insert()">
  <div class="f">
    <h2 class="mat-display-2">Create new Stock</h2>
  </div>
  <mat-form-field class="f-w">
    <mat-label>Blood Group</mat-label>
    <mat-select formControlName="bloodGroupID">
      <mat-option value="">None</mat-option>
      <mat-option *ngFor="let b of bloodGroups" [value]="b.bloodGroupID">
        {{b.groupName}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="f.bloodGroupID.touched && f.bloodGroupID.errors">Blood Group is required!</mat-error>
  </mat-form-field>
  <mat-form-field class="f-w">
    <mat-label>Bag Number</mat-label>
    <input matInput formControlName="bagNumber">
    <mat-error *ngIf="f.bagNumber.touched && f.bagNumber.errors">Bag Number is required!!</mat-error>
  </mat-form-field>
  <mat-form-field class="f-w">
    <mat-label>Entry Date</mat-label>
    <input matInput formControlName="entryDate" required [matDatepicker]="picker" type="text">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="f.entryDate.touched && f.entryDate.errors?.required">Entry Date is required!</mat-error>
  </mat-form-field>
  <mat-form-field class="f-w">
    <mat-label>Self Number</mat-label>
    <input matInput type="number" formControlName="selfNumber" required>
    <mat-error *ngIf="f.selfNumber.touched && f.selfNumber.errors?.required">Self Number is required!</mat-error>
  </mat-form-field>
  <mat-form-field class="f-w">
    <mat-label>Donor Name</mat-label>
    <mat-select formControlName="profileId">
      <mat-option value="">None</mat-option>
      <mat-option *ngFor="let p of profiles" [value]="p.profileID">
        {{p.firstName}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="f.profileId.touched && f.profileId.errors">Donor name is required!</mat-error>
  </mat-form-field>
  
  <div class="f-w">
    <button [disabled]="stockForm.invalid" mat-raised-button type="submit" color="primary"><mat-icon>save_alt</mat-icon> Save</button>
  </div>
  <div class="f-w">
    <a mat-raised-button color="primary" [routerLink]="['/stock']"><mat-icon>arrow_left_alt</mat-icon> Back to list</a>
  </div>
</form>
