
<img mat-card-image src="../../../assets/justImage/userbbms2.jpeg" alt="" style="width:100%; padding-top:16px; height:200px; margin-left: 0px;">
<mat-card class="card-container mat-elevation-z10">
  <mat-card-header>
    <div mat-card-avatar class="header-image">
      <img mat-card-image src="../../../assets/Images/register1.jpg" alt="">
    </div>
    <mat-card-title class="card-title">
      <h2 class="mat-display-2">Blood Donation List</h2>
    </mat-card-title>
    <!--<mat-card-subtitle>
      Donate Blood...
    </mat-card-subtitle>-->
    <span class="filter"></span>
    <a [routerLink]="['/add-donate']" mat-mini-fab color="primary"><mat-icon>add</mat-icon></a>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>

    <div class="table-container">
      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="lastDonationDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Last Donation Date</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.lastDonationDate|date:'MMM dd, yyyy'}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="patient">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Patient Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{getBloodRequest(element.bloodRequestID) }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="donor">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Donor Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{getProfile(element.profileID) }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="location">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Location Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{getLocation(element.locationID) }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="hospital">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Hospital Name</mat-header-cell>
          <mat-cell *matCellDef="let element">{{getHospital(element.hospitalID) }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="quantity">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Quantity (Bag)</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" [routerLink]="['/edit-donate', element.donateBloodID]"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" (click)="confirmDelete(element)"><mat-icon>delete</mat-icon></button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnList"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnList;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25,100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
