.filter {
  flex: 1 1 auto;
}

.card-container {
  box-sizing: border-box;
  width: calc(100%-30px);
  margin: 0px 5px 10px 5px;
}

.table-container {
  box-sizing: border-box;
  width: calc(100%-20px);
  margin: 0 auto;
}

.header-image {
  padding: 10px;
}

